div.aside-item
    div.aside-item__button
        div.aside-item__button_toggle
            div.text-switch Switch ON
            div.area-button.area-button-active
                div.circle
    div.aside-item__drag
        div.aside-item__drag_item
            div.range-slide
                #range.cntr
        div.aside-item__drag_items
            div.range-slide
                #range2.cntr

