div.aside-item
    div.aside-item__button
        div.aside-item__button_toggle
            div.text-switch Switch ON
            div.area-button.area-button-active
                div.circle
    div.aside-item__drag
        div.aside-item__drag_item
        div.aside-item__drag_items
            div.range-slide
                input#range-slider__range(type="range" value="77" min="0" max="100")
