.aside-item__button {
  .aside-item__button_toggle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom:1px;
    width: 100%;
    background-color: $white;
    min-height:25px;
  }
  .text-switch {
    padding:10px;
  }
  .area-button {
    border-radius: 25px;
    background: #e2e2e2;
    height:25px;
    width: 45px;
    cursor: pointer;
    .circle {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: $white;
      border: 1px solid e2e2e2;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
    }
  }
  .area-button-active {
    background: $turquoise;
    .circle {
      margin-left:20px;
      border: 1px solid white;
    }
  }
}
.aside-item__drag {
  background: $white;
  .aside-item__drag_item {
    min-height: 25px;
    .range-slide {
      padding:20px 10px;
    }
  }
  .aside-item__drag_items {
    min-height: 25px;
  }
}
#range, #range2 {
  position: relative;
  width: 180px;
  height: 4px;
  border: 0;
  border-radius: 100px;
  background: #e2e2e2;
  outline: none;
}
#range2 {
  height: 2px;
}
#range .ui-slider-handle, #range2 .ui-slider-handle {
  position: absolute;
  margin: -8px 0 0 -5px;
  border-radius: 100px;
  background: $white;
  border:1px solid #e2e2e2 !important;
  color: #fff;
  border: 0;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 20px;
  outline: none;
  cursor: pointer;
  font-size: 8px;
  font-weight: 800;
  text-decoration: none;
  transition: transform 0.1s ease;
}
#range .ui-slider-handle:hover,
#range .ui-slider-handle:focus, #range2 .ui-slider-handle:hover,
#range2 .ui-slider-handle:focus {
  transform: scale(1.1);
}
#range .ui-slider-range, #range2 .ui-slider-range {
  background: #69b6b5;
  height: 100%;
}
.cntr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#currentVal {
  color: #424242;
  font-size: 14px;
  font-weight: 800;
  padding-left: 240px;
}
#currentVal span {
  color: #ccc;
}
#range .ui-slider-range, #range2 .ui-slider-range {
  position: absolute;
}