.aside-item__button {
  .aside-item__button_toggle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom:1px;
    width: 100%;
    background-color: $white;
    min-height:25px;
  }
  .text-switch {
    padding:10px;
  }
  .area-button {
    border-radius: 25px;
    background: #e2e2e2;
    height:25px;
    width: 45px;
    cursor: pointer;
    .circle {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: $white;
      border: 1px solid e2e2e2;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
    }
  }
  .area-button-active {
    background: $turquoise;
    .circle {
      margin-left:20px;
      border: 1px solid white;
    }
  }
}
.aside-item__drag {
  background: $white;
  .aside-item__drag_item {
    min-height: 25px;
  }
  .aside-item__drag_items {
    min-height: 25px;
  }
}

// input type range

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #e2e2e2;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #e2e2e2;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #e2e2e2;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}