div.form
    form
        div.col-sm-6
            input(type="text" placeholder="Username")
        div.col-sm-6
            input(type="password" placeholder="Password")
        textarea(placeholder="Message")
        input(type="submit" value="Login")