@media (max-width: $sm) {
  #submenu {
    position: relative;
    float: none;
  }
}
@media (min-width: $sm) and (max-width: $md){
  .row {
    position: relative;
  }
  #submenu {
    position: absolute;
    right: 0;
    top: 85px;
    padding: 0;
    width: calc(100% / 12 * 2.5);
  }
}
@media (min-width: $md) {
  #submenu {
    position: absolute;
    right: 0;
  }
}
.aside-item__dropdown {
  background: $turquoise;
  color: $white;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 1px;
  i {
    float: right;
  }
}
#drop_items-1, #drop_items-2, #drop_items-3 {
  display: none;
}
.aside-item__dropdown_item {
  background-color: $white;
  padding: 10px 5px;
  margin-bottom: 1px;
}