div.aside-item
    div.aside-item__dropdown#aside-item__dropdown-1
        span Web design
        i.fa.fa-caret-down
    div#drop_items-1
        div.aside-item__dropdown_item Test items
        div.aside-item__dropdown_item Test items
        div.aside-item__dropdown_item Test items
    div.aside-item__dropdown#aside-item__dropdown-2
        span Print design
        i.fa.fa-caret-down
    div#drop_items-2
        div.aside-item__dropdown_item Test items
        div.aside-item__dropdown_item Test items
    div.aside-item__dropdown#aside-item__dropdown-3
        span Photography
        i.fa.fa-caret-down
    div#drop_items-3
        div.aside-item__dropdown_item Test items
        div.aside-item__dropdown_item Test items
        div.aside-item__dropdown_item Test items
        div.aside-item__dropdown_item Test items
        div.aside-item__dropdown_item Test items