div.weather
    div.weather__top
        div.weather__top_location Exeter, UK
        div.weather__top_degrees <span><sup><small>o</small></sup>F</span> <sup><small>o</small></sup>C
    div.weather__main
        div.weather__main_type
        div.weather__main_numb 21<sup><small>o</small></sup>
    div.weather__bottom
        div.weathe__bottom_monday Monday
        div.weathe__bottom_tuesday Tuesday
        div.weathe__bottom_wednesday Wednesday
        div.weathe__bottom_thursday Thursday