div.aside-item
    div.aside-item__foto
        img(src="https://i.amz.mshcdn.com/u5x11kGyWvgGQgeX4-bbS34HLOY=/950x534/filters:quality(90)/2013%2F04%2F23%2F4d%2FIronMan32.1026b.jpg")
    div.aside-item__text Tony Stark is Iron Man
        br
        small Posted on 30th August 2017
    div.aside-item__bot
        div.aside-item__bot_view
            i.fa.fa-eye
            span 256
        div.aside-item__bot_comment
            i.fa.fa-comments-o
            span 12
        div.aside-item__bot_like
            i.fa.fa-heart-o
            span 83

