div.message
    div.message__item#body-1
        div.message__item_text Tation delenit percipitur at vix.
        div.message__item_circle#close1
            div.close
    div.message__item#body-2
        div.message__item_text Per in illud petentium iudicabit.
        div.message__item_circle#close2
            div.close
    div.message__item#body-3
        div.message__item_text Oratio accumsan et mea.
        div.message__item_circle#close3
            div.close
    div.message__item#body-4
        div.message__item_text Magna copiosae apeirian ius at.
        div.message__item_circle#close4
            div.close