$twitter-color: #00ACEC;
$facebook-color: #3A589B;
$google-color: #D5492F;
$dribbble-color: #EB4A89;

@media (max-width: $xs) {
  .social {
    margin:auto;
    height: 172px;
    width: 172px;
    .twitter,.facebook,.dribbble,.google-plus {
      width: 80px;
      height: 80px;
    }
  }
}

@media (min-width: $sm) and (max-width: $md) {
  .social {
    margin:auto;
    height: 172px;
    width: 172px;
    .twitter, .facebook,.dribbble,.google-plus {
      width: 80px;
      height: 80px;
    }
  }
}

@media (min-width: $md) and (max-width: $lg) {
  .social {
    height: 172px;
    width: 172px;
    .twitter, .facebook,.dribbble,.google-plus {
      width: 80px;
      height: 80px;
    }
  }

}
@media (min-width: $lg) {
  .social {
    height: 215px;
    width: 215px;
    .twitter, .dribbble, .google-plus, .facebook {
      width: 100px;
      height: 100px;
    }
  }
}

.social {
  position: relative;
  .twitter, .dribbble, .google-plus, .facebook {

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 60px;
  }
  .twitter {
    background: $twitter-color;
    top:0;
    left: 0;
  }
  .dribbble {
    background: $dribbble-color;
    right: 0;
    top: 0;
  }
  .google-plus {
    background: $google-color;
    bottom: 0;
    left:0;
    background-image: url("./modules/header/social/google-plus-icon.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .facebook {
    background: $facebook-color;
    bottom: 0;
    right: 0;
  }
}
header .col-sm-3 {
  padding:0;
}