$twitter-color: #00ACEC;
$facebook-color: #3A589B;
$google-color: #D5492F;
$dribbble-color: #EB4A89;
body {
  background-image: url("./modules/header/social/asdf.jpg");
}
.social {
  height: 225px;
  width: 225px;
  position: relative;
  .twitter, .dribbble, .google-plus, .facebook {
    width: 100px;
    height: 100px;
    position: absolute;
  }
  .twitter {
    background: $twitter-color;
    top:0;
    left: 0;
  }
  .dribbble {
    background: $dribbble-color;
    right: 0;
    top: 0;
  }
  .google-plus {
    background: $google-color;
    bottom: 0;
    left:0;
  }
  .facebook {
    background: $facebook-color;
    bottom: 0;
    right: 0;
  }
}