div.mobile-header
    div#button-mob-menu
        div
        div
        div
div.navigation.col-sm-12
    div.navigation__home
    div.navigation__item About
    div.navigation__item Services
    div.navigation__item Portfolio
    div.navigation__item Blog
    div.navigation__item Contact
    div.navigation__area
        div.navigation__area_search
            input
            div.search-button
                i.fa.fa-search
