@media (max-width: $xs) {
  nav {
    position: fixed!important;
    width: 100%;
    top: 0;
    min-height: 70px;
    background-color: #fff;
    .mobile-header{
      background-color: #fff;
      min-height: 50px;
    }
    .navigation {
      display: none;
      margin-top:0;
      .navigation__home {
        display: none;
      }
    }
  }
  .container, nav.col-sm-12{
    padding:0;
    padding-right:0;
    padding-left:0;
  }
  .navigation {
    flex-direction: column;
    .navigation__area {
      order: 1;
      .navigation__area_search {
        width: 100%;
        max-width: 100%;
      }
    }
    .navigation__item {
      order:2;
      border-top: 1px solid #cbcbcb;
      padding: 5px 0;
    }
  }
  #button-mob-menu {
    cursor: pointer;
    float: right;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    div {
      background: $blue !important;
      width: 35px;
      height: 5px;
      position: absolute;
      transition: 0.4s;
    }
    div:first-child{
      top:10px;
    }
    div:nth-child(2){
      top:21px;
    }
    div:nth-child(3){
      top: 32px;
    }
  }

}
@media (min-width: $sm) {
  .mobile-header {
    display: none;
  }
  .navigation__area {
    align-self: center;
  }
}
.navigation {
  padding:0;
  margin-top:15px;
  color: #333;
  background-color: #fff;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  .navigation__home {
    width: 50px;
    border-right: 0;
    background-size: 55%;
    background-image: url("./modules/header/nav/images/home.png");
    background-repeat: no-repeat;
    background-position: 20px 20px;
    cursor: pointer;
  }
}
.navigation__home,.navigation__item {
  min-height: 100%;
  border-right: 1px solid #cbcbcb;
  cursor: pointer;
}
.navigation__area {
  height: 100%;
  .navigation__area_search {
    max-width: 222px;
    background-color: #e2e2e2;
    position: relative;
    .search-button {
      color: #fff;
      background-color: $turquoise;
      position: absolute;
      right: 0;
      top: 0;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
  .navigation__area_search input{
    border:0;
    height: 30px;
    max-width: 180px;
    background-color: #e2e2e2;
    padding: 0 5px;
  }
  .navigation__area_search input:focus {
    outline:none;
  }
}
.navigation__item,.navigation__area {
  display: flex;
  flex-grow: 2;
  justify-content:center;
  align-items:center;
}