div.profile
    div.profile__foto
        //img.profile__foto_img(src="http://astrakhan-pek.ru/wp-content/uploads/2016/09/sasha-grej-bez-makijazha_4.jpg")
    div.profile__text Sasha Gray
    div.profile__follow
        span Follow&nbsp;
        i.fa.fa-plus-circle