div.profile
    div.profile__border
        div.profile__foto
    div.profile__text Scarlett Johansson
        br
        small Black Widow
    div.profile__follow.button
        span Follow&nbsp;
        i.fa.fa-plus-circle