div#calendar
    div#calendar_header
        div.calendar-but-left
            i.button-calendar-left
        h1
        div.calendar-but-right
            i.button-calendar-right
    div#calendar_weekdays
    div#calendar_content