div#myCarousel.carousel.slide(data-ride="carousel")
    div.carousel-inner
        div.item.active
            img.d-block.img-fluid(src="https://www.quirkybyte.com/wp-content/uploads/2017/01/ironman.jpg")
        div.item
            img.d-block.img-fluid(src="http://nerdist.com/wp-content/uploads/2016/02/Batman-Vs-Superman-Dawn-Of-Justice-Wallpaper-Q1sqV-1.png")
        div.item
            img.d-block.img-fluid(src="http://laoblogger.com/images/hulk-hd-clipart-for-mobile-2.jpg")
    div.controls-slider
        a.left.carousel-control(href="#myCarousel" data-slide="prev")
            div.circle
                div.arrow-left
        a.right.carousel-control(href="#myCarousel" data-slide="next")
            div.circle
                div.arrow-right
        ol.carousel-indicators
            li.active(data-target="#myCarousel" data-slide-to=0)
            li(data-target="#myCarousel" data-slide-to=1)
            li(data-target="#myCarousel" data-slide-to=2)