div.dropdown
    div.dropdown__text Dropdown normal
    div.dropdown__button
        div.dropdown__button_circle
            i.fa.fa-caret-down
div.dropdown__list
    div.delta
    div.dropdown__list_item Option one
    div.dropdown__list_item Option two
